@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 330px;
  background-color: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar {
  width: 2.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.9);
}